/*main {
    height: 625px;
}*/

.methods {
    height: 400px;
}

.columns {
    padding: 20px;
}

.method-container {
    overflow: auto;
}

body {
    font-family: 'Libre Baskerville', serif;
}


/* Styling title header for method columns */
.method-header {
    padding: 10px;
    background-color: #ffca18;
    text-align: center;
}